@model SED.Models.Preguntas_Cuestionario

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles</h2>

<div>
    <h4>Preguntas_Cuestionario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pregunta.nombre_pregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta.nombre_pregunta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.id_cuestionario }) |
    @Html.ActionLink("Volver al listado", "Index")
</p>
